/* Font yükleniyor */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
/* Font body'e ayarlanıyor ve arkaplan rengi değiştiriliyor */
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

/*  p elementlerinin font'u değiştiriliyor ve boyut, ağırlık,renk  gibi düzenlemeleri yapılıyor */
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

/* a, a:hover, a:focus için renk, ve dekorasyon düzenlemeleri */
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* line'ın en,boy,altçizgi ve margin değerleri ayarlandı */
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
/* Wrapper ayarlanılıyor */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* Sidebar'ın genişlik, yükseklik, arkaplan gibi parametreleri ayarlanıyor */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #12cdd4;
    color: #fff;
    transition: all 0.3s;
}

/* sidebar.active'in margin değeri ayarlandı */
#sidebar.active {
    margin-left: -250px;
}

/* Sidebar'ın header'ı düzenleniyor  */
#sidebar .sidebar-header {
    padding: 20px;
    background: #0099ff;
}

/* Sidebar'ın içerisindeki ul componentleri düzenleniyor */
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

/* Sidebar'ın içerisindeki ul ve p'lerin rengi ve kaydırma değerleri düzenleniyor */
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
/* Sidebar'ın içerisindeki ul ve li ve a'ların  kaydırma değerleri, font büyüklükleri vb. düzenleniyor */
#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

/* Sidebar'ın içerisindeki ul ve li ve a:hover'ların  renk ve arkaplan renkleri düzenleniyor */
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

/* Sidebar'ın içerisindeki ul ve li.active'lerin  renk ve arkaplan renkleri düzenleniyor */
#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

/* data-toggle değeri collapse olan a'ların positionları düzenleniyor */
a[data-toggle="collapse"] {
    position: relative;
}

/* dropdown-toggle::after'ın düzenlemesi yapılıyor */
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/* ul ul a'ların nın font size'ları, paddingleri ve arkaplanları ayarlanıyor. */
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/* ul.CTAs'ların padding değeri ayarlanıyor. */
ul.CTAs {
    padding: 20px;
}
/* ul.CTAs a'larının font değerleri, border kalınlıkları gibi düzenlemeleri yapılıyor. */
ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* a.download'ların arkaplan ve kendi renkleri düzenleniyor */
a.download {
    background: #fff;
    color: #7386D5;
}

/* a.article ve a.article:hover 'ların arkaplan ve kendi renkleri düzenleniyor. */
a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/* Content içerisindeki değerlerin genişlik, kaydırma, yükseklik gibi parametreleri ayarlanıyor */
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

